<!--index.html-->
<!DOCTYPE html>
<html>

<head>
    <title>Wind Monitor</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    function drawGraph(obj,imgid) {
        var idx = obj.selectedIndex;
        var value = obj.options[idx].value;
        var plotdata = document.getElementById(imgid);

        var timeS = document.getElementById('timeSelector');
        var idxT = timeS.selectedIndex;
        var time = timeS.options[idxT].value;

        $.get("/plot/" + value + "_" + time, function(data) {
            plotdata.src = "data:image/png:base64," + data;
        });
    };
    function updateValue(obj) {
        var idx = obj.selectedIndex;
        var value = obj.options[idx].value;
        var plotdata = document.getElementById(imgid);

        var timeS = document.getElementById('timeSelector');
        var idxT = timeS.selectedIndex;
        var time = timeS.options[idxT].value;
        
        $.get("/update/" + value + "_" + time, function(data) {
        });
    };
    $(document).ready(function() {
        //initialize components
        var target1 = document.getElementById('selector1');
        drawGraph(target1,'plotimg1');
        var target2 = document.getElementById('selector2');
        drawGraph(target2,'plotimg2');
        var target3 = document.getElementById('selector3');
        drawGraph(target3,'plotimg3');
    });
    function refreshFigure() {
        //initialize components
        var target1 = document.getElementById('selector1');
        drawGraph(target1,'plotimg1');
        var target2 = document.getElementById('selector2');
        drawGraph(target2,'plotimg2');
        var target3 = document.getElementById('selector3');
        drawGraph(target3,'plotimg3');
        updateValue(target2);
    };
    </script>
</head>

<body>
    <h1>Wind Monitor</h1>
    <h2>Statistics</h2>
    <p>select a time period</p>
    <select id=timeSelector onchange="refreshFigure()">
        <option value="all" selected>All the time</option>
        <option value="hour">Last hour</option>
        <option value="day">Last 24 hours</option>
        <option value="week">Last 7 days</option>
    </select>

    <table>
        <tbody>      
            <tr>
                <td>Mean</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Standard Deviation</td>
                <td>1</td>
            </tr>
        </tbody>
    </table> 


    <h2>Time history</h2>
    <div>
        <p>select a variable</p>
        <select id=selector1 onchange="drawGraph(this, 'plotimg1')">
            <option value="TH_Wind Direction" selected>Wind Direction</option>
            <option value="TH_Wind speed 1">Wind speed 1</option>
            <option value="TH_Wind speed 2">Wind speed 2</option>
        </select>
    </div>
    <br/>
    <img id=plotimg1></img>

    <h2>Wind speed frequency distribution</h2>
    <div>
        <p>select a variable</p>
        <select id=selector2 onchange="drawGraph(this, 'plotimg2')">
            <option value="DS_Wind speed 1" selected>Wind speed 1</option>
            <option value="DS_Wind speed 2">Wind speed 2</option>
        </select>
    </div>
    <br/>
    <img id=plotimg2></img>

    <h2>Wind direction rose</h2>
    <div>
        <p>select a variable</p>
        <select id=selector3 onchange="drawGraph(this, 'plotimg3')">
            <option value="RS_Wind Direction">Wind Direction</option>
        </select>
    </div>
    <br/>
    <img id=plotimg3></img>

</body>

</html>